.FondoAzulOscuro {
  background-color: #002554 !important;
}

.FondoAzulFuerte {
  /* background-color: #002554 !important; */
  background-color: #005481 !important;
}

.FondoAzulMedio {
  /* background-color: #236192 !important; */
  background-color: #0074b2 !important;
}

.FondoAzulBajo {
  /* background-color: #00afd7; */
  background-color: #0090d0 !important;
}

.FondoOscuro {
  background-color: #231f20;
}

footer.sticky-footer {
  /* padding: 1rem 2rem 3rem 2rem !important; */
  padding: 1rem 1rem 3rem 1rem !important;
}

footer {
  color: #ffffff;
  background-color: #002554 !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

body {
  background-color: #ffffff !important;
  padding-top: 6.5rem;
  padding-bottom: 4.3rem;
}

.botonEstilo {
  color: #fff;
  background-color: #00adef !important;
  border-color: #8bd2f4;
}
.LetraEstilo {
  color: #fff;
}

.whiteColor {
  color: white;
}

.cardContainer a {
  color: inherit !important; /* blue colors for links too */
  text-decoration: inherit !important; /* no underline */
}

.cardContainer .card {
  border-radius: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.cardContainer .card:hover {
  box-shadow: 0 0 6px black;
}

.cardContainer .card {
  border: none !important;
}

.cardContainer .rotoImg {
  border-radius: 0;
}

.labelLeftInput {
  /*text-align: right;*/
  clear: both;
  float: left;
  /*margin-right: 20px;*/
  /*margin-top: 7px;*/
  max-width: 5em;
  max-height: 27px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

.flex {
  display: flex;
  align-items: center;
}

.fillWidthAvaible {
  width: 100%;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

.fillHeightAvaible {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}

.input-group-addon button,
.input-group-btn button {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /*// Put your IE10 + -specific CSS here*/
  .input-group-addon,
  .input-group-btn {
    width: 0 !important;
  }

  div.form-group > div.input-group {
    display: flex !important;
  }

  .labelLeftInput {
    /*text-align: right;*/
    clear: both;
    float: left;
    /*margin-right: 20px;*/
    /*margin-top: 7px;*/
    max-width: 9em;
    max-height: 27px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
  }
}

.panelFilters {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/*.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}*/

.card-header div span {
  margin-left: 5px;
}

.clickable {
  cursor: pointer;
}

.panel-actions {
  /*margin-top: -20px;*/
  margin-bottom: 0;
  text-align: right;
}

.panel-actions a {
  color: #333;
}

.panel-actions a i {
  font-size: 15px;
  /*top: 5px;*/
  vertical-align: middle;
}

.panel-actions a svg {
  font-size: 16px;
  /*top: 5px;*/
  vertical-align: middle;
}

.panel-fullscreen {
  display: block;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}

.no-border-radius {
  border-radius: 0;
}

.panel.no-radius-TRL {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.vertical_align_text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.hidden-overflow {
  overflow: hidden;
}

.chart-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.isResizable {
  padding: 5px;
  overflow: hidden;
}

.borderPanels {
  border: 1px solid #f1f2f7 !important;
}

.float-right {
  float: right;
}

.containerFiltersOne {
  margin-bottom: 10vh;
}

.containerFiltersOne .card {
  border-radius: 0 !important;
}

.containerFiltersOne .card .card-header[data-toggle="collapse"].collapsed {
  border-radius: 0 !important;
}

.containerFiltersOne .card-header:first-child {
  border-radius: 0 !important;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #fff;
}

.table-hover tbody tr:hover,
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background: #005481 !important;
  color: #fff !important;
}

.colorLetra {
  color: black;
}

.colorTitulos {
  color: #002554;
}

/* Timeline */
.timeline,
.timeline-horizontal {
  list-style: none;
  padding: 20px;
  position: relative;
}
.timeline:before {
  top: 40px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline .timeline-item {
  margin-bottom: 20px;
  position: relative;
}
.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}
.timeline .timeline-item .timeline-badge {
  color: #fff;
  width: 54px;
  height: 54px;
  line-height: 52px;
  font-size: 22px;
  text-align: center;
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -25px;
  background-color: #7c7c7c;
  border: 3px solid #ffffff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
  top: 2px;
  left: 0px;
}
.timeline .timeline-item .timeline-badge.primary {
  background-color: #1f9eba;
}
.timeline .timeline-item .timeline-badge.info {
  background-color: #5bc0de;
}
.timeline .timeline-item .timeline-badge.success {
  background-color: #59ba1f;
}
.timeline .timeline-item .timeline-badge.warning {
  background-color: #d1bd10;
}
.timeline .timeline-item .timeline-badge.danger {
  background-color: #ba1f1f;
}
.timeline .timeline-item .timeline-badge.gris {
  background-color: #868686;
}
.timeline .timeline-item .timeline-panel {
  position: relative;
  width: 46%;
  float: left;
  right: 16px;
  border: 1px solid #c0c0c0;
  background: #ffffff;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline .timeline-item .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -16px;
  display: inline-block;
  border-top: 16px solid transparent;
  border-left: 16px solid #c0c0c0;
  border-right: 0 solid #c0c0c0;
  border-bottom: 16px solid transparent;
  content: " ";
}
.timeline .timeline-item .timeline-panel .timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-item .timeline-panel .timeline-body > p,
.timeline .timeline-item .timeline-panel .timeline-body > ul {
  margin-bottom: 0;
}
.timeline .timeline-item .timeline-panel .timeline-body > p + p {
  margin-top: 5px;
}
.timeline .timeline-item:last-child:nth-child(even) {
  float: right;
}
.timeline .timeline-item:nth-child(even) .timeline-panel {
  float: right;
  left: 16px;
}
.timeline .timeline-item:nth-child(even) .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-horizontal {
  list-style: none;
  position: relative;
  padding: 20px 0px 20px 0px;
  display: inline-block;
}
.timeline-horizontal:before {
  height: 3px;
  top: auto;
  bottom: 26px;
  left: 56px;
  right: 0;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item {
  display: table-cell;
  height: 149px;
  width: 20%;
  min-width: 206px; /* 320px */
  float: none !important;
  padding-left: 0px;
  padding-right: 20px;
  margin: 0 auto;
  vertical-align: bottom;
}
.timeline-horizontal .timeline-item .timeline-panel {
  top: auto;
  bottom: 64px;
  display: inline-block;
  float: none !important;
  left: 0 !important;
  right: 0 !important;
  width: 100%;
  margin-bottom: 20px;
}
.timeline-horizontal .timeline-item .timeline-panel:before {
  top: auto;
  bottom: -16px;
  left: 28px !important;
  right: auto;
  border-right: 16px solid transparent !important;
  border-top: 16px solid #c0c0c0 !important;
  border-bottom: 0 solid #c0c0c0 !important;
  border-left: 16px solid transparent !important;
}
.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
  display: none;
}
.timeline-horizontal .timeline-item .timeline-badge {
  top: auto;
  bottom: 0px;
  left: 43px;
}

.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

.navbar-custom {
  background-color: #002554 !important;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255, 255, 255, 0.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

a.textMenuStyle {
  color: white !important;
  font-weight: bold;
}

a.disabled.textMenuStyle {
  color: rgb(117, 117, 117) !important;
}

.h-55px {
  height: 55px !important;
}

.line-h-3 {
  line-height: 3;
}

li.active {
  background-color: #0074b2ce !important;
}

.loginButtonMenu {
  width: 9rem;
  text-align-last: center;
}
